* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Common CSS */

body {
  font-family: "Montserrat", sans-serif;
}

/* margin left because of the side-menù in fixed */
header, main section {
  /* debug */
  margin-left: 200px;
}

.btn-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFF;
  color: #000;
  border-radius: 20px;
}

/* Header */
.upgrade-bar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  /* background-color: rgba(0,0,0,.6); */

  /* debug*/
  background-color: red;
}

.nav-menu {
  min-height: 80px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #141922;
  border: 1px solid #FFF; */

  /* debug */
  background-color: green;
  border: 1px solid #000;
}

.nav-menu .nav-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-menu .nav-links li {
  list-style-type: none;
  min-width: 80px;
  text-align: center;
  border: 1px solid #000;
}

/* Main */


main section {
  min-height: 300px;
  /* background-color: #141922;
  border: 1px solid #FFF; */

  /*debug*/
  background-color: yellow;
  border: 1px solid #000;
}

/* Sidebar */
.sidebar-menu {
  height: calc(100vh - 100px);
  /* background-color: #000; */
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;


  /* debug*/
  background-color: purple;
  border: 1px solid #000
}

/* Logo and nav links */
.sidebar-menu .logo-container {
  height: 80px;
  display: flex;
  justify-content: center;
}

.sidebar-menu #logo {
  width: 150px;
}

.sidebar-menu #small-logo {
  width: 25px;
  display: none;
}

.sidebar-menu .nav-links {
  list-style-type: none;
}

/* debug*/
.sidebar-menu .nav-links li {
  border: 1px solid #000;
}

.sidebar-menu .nav-links a {
  display: block;
  text-decoration: none;
  padding-left: 20px;

  /* debug */
  background-color: red;
}

.sidebar-menu .small-ico {
  width: 25px;
  vertical-align: middle;
}

.sidebar-menu .nav-links a > span {
  margin-left: 5px;
  font-weight: bold;
  vertical-align: middle;
}

.sidebar-menu .nav-links a:hover {
  border-left: 4px solid #adff2f;
  padding-left: 16px;
}


/* Playlists */
.sidebar-menu .added_playlist {
  max-height: 50px;
}



/* Sections */

main .container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

main .column {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: orange;
  width: calc(100% / 6);
  border: 1px solid #000;
}

main .column .image-box {
  max-width: 180px;
  min-width: 50px;
  background-color: pink;
  border: 2px solid blue;
  text-align: center;
}

main .column .image-box > img {
  max-width: 100%;
}

/* Footer */
footer {
  height: 100px;
  width: 100%;
  /* background-color: #282828;
  border: 1px solid #FFF; */
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;

  /* debug */
  background-color: blue;
  border: 1px solid #000;
}

@media all and (max-width: 1199.99px) {

}

@media all and (max-width: 991.99px) {

  main .column {
    width: 25%;
  }

}

@media all and (max-width: 767.99px) {
  main section .container {
    flex-wrap: wrap;
  }

  main .column {
    width: calc(100% / 3);
  }

}

@media all and (max-width: 575.99px) {

  header, main section {
    /* debug */
    margin-left: 30px;
  }

  main .sidebar-menu {
    width: 30px;
  }

  .sidebar-menu #logo {
    display: none;
  }

  .sidebar-menu #small-logo {
    display: block;
  }

  main .column {
    width: 50%;
  }
}
