* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Common CSS */

body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

/* Typography */
h3, h5 {
  color: #FFF;
}

h3 {
  font-size: 18px;
}

h5 {
  font-size: 12px;
}

/* margin left because of the side-menù in fixed */
header, main section {
  margin-left: 200px;
}

main section {
  padding-bottom: 20px;
}

main {
  margin-bottom: 100px;
}

.btn-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFF;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
}

.separator {
  height: 1px;
  background-color: #FFF;
  width: 80%;
  margin: 0 auto;
}

/* Header */

/* Uograde bar */
.upgrade-bar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  background-color: rgba(0,0,0,.5);
}

.upgrade-bar .btn-link {
  background-color: transparent;
  color: #FFF;
  font-weight: 600;
  border: 2px solid #FFF;
  text-transform: uppercase;
  transition: transform .3s;
}

.upgrade-bar .btn-link:hover {
  transform: scale(1.1);
}

/* Nav menu */
.nav-menu {
  min-height: 160px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141922;
}

.nav-menu .nav-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-menu .nav-links li {
  list-style-type: none;
  min-width: 80px;
  text-align: center;
  padding: 0 10px;
}

.nav-menu .nav-links a {
  color: #7d7f84;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}

.nav-menu .nav-links a:hover {
  color: #FFF;
}

.nav-menu .nav-links .active-green {
  height: 4px;
  width: 40%;
  margin: 0 auto;
  background-color: #adff2f;
  transition: width 1s;

}

.nav-menu .nav-links a:hover .active-green {
  width: 100%;
}

/* Main */
main section {
  background-color: #141922;
  color: #7d7f84;
}

/* Sidebar */
.sidebar-menu {
  height: calc(100vh - 100px);
  background-color: #000;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  color: #7d7f84;
}

.sidebar-menu a {
  text-decoration: none;
  color: #7d7f84;
}

.sidebar-menu a:hover {
  color: #FFF;
}

.container-logo {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 40px;
}

#small-logo {
  display: none;
  width: 25px;
}

.sidebar-menu .nav-links {
  list-style-type: none;
  padding: 20px 0;
}


.sidebar-menu .nav-links a {
  padding-left: 20px;
  display: flex;
  align-items: center;
  height: 100%;
}

.sidebar-menu .small-icon {
  height: 25px;
}

.sidebar-menu .nav-links a:hover {
  border-left: 4px solid #adff2f;
  padding-left: 16px;
}


.container-playlist {
  padding-left: 20px;
  /* takes all the empty space and pushes user
  profile in the bottom of the side bar */
  flex-grow: 1;
}

.container-playlist h3 {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
}

.sidebar-menu .container-playlist .add-button {
  padding: 5px 10px;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  background-color: #7d7f84;
  display: inline-block;
}

.sidebar-menu .container-playlist a:hover .add-button {
  background-color: #FFF;
}

.sidebar-menu .playlist-added {
  list-style-type: none;
  overflow-y: auto;
}

.sidebar-menu .playlist-added li {
  padding: 5px 0;
}

.user-profile {
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.sidebar-menu .user-profile .install-link,
.sidebar-menu .user-profile .separator,
.sidebar-menu .user-profile .profile {
  flex-basis: 100%;
}

.sidebar-menu .user-profile .install-link,
.sidebar-menu .user-profile .profile {
  padding: 5px 0;
}

.sidebar-menu .user-profile .separator {
  margin-right: 20px;
}

.sidebar-menu .install-link a {
  display: flex;
  align-items: center;
}

.sidebar-menu .profile a {
  display: flex;
  align-items: center;
}





/* Sections */

main .container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

main .column {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: calc(100% / 6);
  padding: 0 10px;
}



main .column .image-box {
  max-width: 180px;
  min-width: 50px;
  text-align: center;
}

main .column .image-box > img {
  max-width: 100%;
}

/* Footer */
footer {
  min-height: 100px;
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style-type: none;
}

footer .song-descr,
footer .player,
footer .song-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 25%;
}

/* Song name */
footer .song-descr li {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

footer .song-descr .image-box {
  max-width: 40px;
}

footer .song-descr .image-box > img {
  max-width: 100%;
}

footer .song-descr .song-name,
footer .song-descr .song-artist {
  flex-basis: 100%;
}

footer .song-name,
footer .player-actions,
footer .player-bar,
footer .song-controls {
  color: #FFF;
  font-weight: 600;
}

footer .song-artist,
footer .song-cta {
  color: #5a5a5a;
}

/* Song player */
footer .player {
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

footer .player-actions {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}

footer .player-actions li {
  padding: 0 10px;
}

footer .fa-play-circle {
  font-size: 30px;
}

footer .player-bar {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .player .player-bar li:nth-child(2) {
  flex-basis: 50%;
  margin: 0 10px;
}

footer .progress-bar {
  height: 5px;
  background-color: #5a5a5a;
  border-radius: 5px;
}

footer .progress-bar .progress {
  width: 30%;
  background-color: #c1c1c1;
  height: 100%;
  border-radius: 5px;
  position: relative;
}

footer .progress .circle {
  width: 10px;
  height: 10px;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Song controls */

footer .song-controls {
  align-items: center;
}

footer .song-controls li:last-child{
  width: 50%;
}



@media all and (max-width: 1199.99px) {

}

@media all and (max-width: 991.99px) {

  main .column {
    width: 25%;
  }

}

@media all and (max-width: 767.99px) {
  main section .container {
    flex-wrap: wrap;
  }

  main .column {
    width: calc(100% / 3);
  }

}

@media all and (max-width: 575.99px) {

  header, main section {
    margin-left: 30px;
  }

  main .sidebar-menu {
    width: 30px;
  }

  .sidebar-menu #logo {
    display: none;
  }

  .sidebar-menu .nav-links span {
    display: none;
  }

  .sidebar-menu .container-playlist > * {
    display: none;
  }

  .sidebar-menu .user-profile span {
    display: none;
  }

  .sidebar-menu .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-playlist,
  .user-profile,
  .sidebar-menu .nav-links a{
    padding-left: 0;
  }

  .sidebar-menu .user-profile .separator {
    margin-right: 0;
  }

  .sidebar-menu .nav-links a:hover {
    padding-left: 0;
    border-left: 0;
  }

  .sidebar-menu #small-logo {
    display: block;
  }

  main .column {
    width: 50%;
  }

  /* Footer */
  footer .image-box {
    display: none;
  }


}
